body {
	background: lightyellow;
}

header {
	background-color: lightblue;
	display: flex;
	flex-direction: column;
}

.page-title {
	text-align: center;
}

.nav-bar {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	background-color: olive;
	align-items: center;
	height: 4vh;
}

.nav-left .nav-right {
	display: flex;
}

.nav-right {
	height: 4vh;
	display: flex;
	align-items: center;
}

a {
	margin: 0 .5vw;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}