/*==== TAG SELECTORS ====*/

html {
	height: 100%;
}

body {
	background: lightblue;
	margin: 0;
	padding: 0;
	border: 0;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 4vh;
	padding-bottom: 2vh;
	min-height: calc(100% - 4vh);
}

header {
	background-color: lightblue;
	display: flex;
	flex-direction: column;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 2vh;
	margin-top: -2vh;
	clear: both;
	background-color: black;
	color: lightgray;
	display: flex;
	align-items: center;
	justify-content: center
}

a {
	margin: 0 .5vw;
	text-decoration: none;
	color: linen;
}


button {
	text-align: center;
	border: 1px solid black;
	padding: 3px;
	cursor: pointer;
	outline: inherit;
	background-color: lightgray;
}

h1, h2, h3, h4, h5 {
	font-family: 'Patua One', monospace;
}

h1 {
	font-size: 40px;
}

p, a, div {
	font-family: "Roboto", sans-serif;
}

/*==== CLEAR FIX ====*/

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*==== Login Page Styling ====*/

.input-form {
	width: 30vw;
	margin-top: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.input-box {
	margin-top: 5px;
	height: 20px;
	width: 100%;
}

.input-button {
	width: 40%;
	height: 20px;
}


/*===== HOME PAGE STYLING ====*/

.main-title {
	font-size: 90px;
	/*font-family: 'Patua One', cursive;*/
}

.home-link {
	height: 4vh;
	min-height: 10px;
	font-size: 3vw;
	background-color: cadetblue;
	padding: 1vh;
	border: 3px solid black;
	border-radius: 8px;
	margin: 0 2vh;
}

.link-row {
	margin: 4vh 0;
}

/*==== NAV STYLING ==== */

.page-title {
	text-align: center;
}

.nav-bar {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	background-color: cadetblue;
	align-items: center;
	height: 4vh;
	margin: 0;
	position: fixed;
	width: 100%;
	border-bottom: 2px solid black;
}

.nav-left .nav-right {
	display: flex;
}

.nav-right {
	height: 4vh;
	display: flex;
	align-items: center;
}

.logout-button-form {
	margin-right: .5vw;
}

.logout-button {
	font-size: 1.5vh;
}

.nav-link {
	font-size: 2.5vh;
}

/*==== CONTAINERS ====*/

.main-container {
	width: 80vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.playlist-container-outer {
	width: 30vw;
}

.playlist-container {
	width: 100%;
	position: fixed;
	padding-top: 2vh;
	height: calc(92vh - 2px);
	background-color: cadetblue;
	padding-left: 10px;
	border-top: 2px solid black;
	border-left: 2px solid black;
}

.playlist-search-container-outer {
	display: flex;
	justify-content: center;
	width: 70vw;
}

.playlist-search-container {
	width: 80%;
}


.listen-link-container {
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.main-container-playlist {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 100vw;
}

.results-box {
	padding: 2vh;
	border: 2px solid black;
	border-radius: 5px;
	margin: 2vh 0;
	background-color: cadetblue;
}

/*==== SHOW PAGE STYLING ====*/

.show-pic {
	float: right;
	margin-left: .5vw;
}

.show-desc {
	vertical-align: top;
	text-align: left;
	margin: 0;
}

.show-link {
	background-color: cadetblue;
	padding: 4px;
	border-radius: 5px;
	border: 2px solid black;
}

/*==== SEARCH BAR STYLING ====*/

.search-form {
	display:flex;
	align-items: center;
}

.search-bar {
	width: 40vw;
	height: 25px;
	margin-right: 1vw;
	line-height: 100%;
	font-size: 20px;
}

.search-button {
	height: 25px;
	font-size: 15px;
	text-align: center;
	width: 70px;
}

/*==== SEARCH RESULTS STYLING ==== */

.search-container {
	width: 80vw;
	display: flex;
	justify-content: space-around;
}

.episode-title-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1vh;
}

.search-pic {
	float: left;
	clear: left;
	margin-right: .5vw;
	overflow: auto;
}

.search-desc {
	vertical-align: top;
	text-align: left;
	height: 100%;
}	

.search-title {
	margin: 0;
	width: 32%;
	text-align: center;
}

.search-pod-title {
	margin-bottom: 0;
}

.episode-search-container {
	/*width: 50%;*/
}






/* =========== EDIT PLAYLIST INTERACTIVE DISPLAY =========== */

