	<header>
		<h1><%=header%></h1>
		<nav>
			<div class="mainNav">
				<a href="/earfull">Home</a> 
			</div>
			<div class="authNav">
				<a href="/earfull/auth/login">Login</a> || 
				<a href="/earfull/auth/register">Sign Up</a> || 
				<form action="/earfull/auth/logout" method="POST">
					<button>Logout</button>
				</form>
			</div>
		</nav>
	</header>