<header>
	<nav class="nav-bar">
		<div class="nav-left">
			<a href="/earfull">Home</a> 
		</div>
		<div class="nav-right">
			<a href="/earfull/auth/register">Create New Account</a>  
			<% if (loggedIn) { -%>
				<form action="/earfull/auth/logout" method="POST">
					<button>Logout</button>
				</form>
			<% } else { -%>
					<!-- <br /> -->
					<a href="/earfull/auth/login">Log In</a>
			<% } -%>

			<p><%=message%> &nbsp;</p>
		</div>
	</nav>
	<!-- <h1 class="page-title"><%=header%></h1> -->
</header>