<header>
	<nav class="nav-bar">
		<div class="nav-left">
			<a class="nav-link" href="/earfull">Home</a> 
			<a class="nav-link" href="/earfull/podcasts">Podcasts</a>
			<a class="nav-link" href="/earfull/episodes">Episodes</a>
			<!-- <% //if (loggedIn) { -%>
				<a href="/earfull/playlists/">Playlists</a>		
			<% //} -%> -->
		</div>
		<div class="nav-right">

			<div class="nav-link"><%=message%> &nbsp;</div>
			<% if (loggedIn) { -%>
				<form class="logout-button-form" action="/earfull/user/auth/logout" method="POST">
					<button class="logout-button">Logout</button>
				</form>
			<% } else { -%>
				<!-- <br /> -->
				<a class="nav-link" href="/earfull/user/auth/register">Create New Account</a>  
				<a class="nav-link" href="/earfull/user/auth/login">Log In</a>
			<% } -%>

		</div>
	</nav>
	<!-- <h1 class="page-title"><%=header%></h1> -->
</header>