<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<h1>Search Episodes</h1>

	<form method="POST" action="/earfull/episodes">
		<input type="text" name="query">
<!-- 		<select name="type">
			<option value="episode">Episode</option>
			<option value="podcast">Podcast</option>
		</select> -->
		<button>search</button>
	</form>

</body>
</html>