<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Display Episode</h1>

	<h2><%=title%></h2>

	<img src="<%=img%>">

	<figure>
		<figcaption>Listen</figcaption>
		<audio controls src="<%=audio%>">Your browser does not support the <code>audio</code> element</audio>
	</figure>


</body>
</html>