<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Search Episodes</h1>

	<form method="POST" action="/">
		<input type="text" name="query">
		<button>search</button>
	</form>


</body>
</html>