<!-- views/home/home.ejs -->

<!DOCTYPE html>
<html>
<head>
<!-- Partial for head, requires variable "title" -->
	<%- include("../partials/head", {title: title}) %>
</head>
<body>
<!-- Partial for header, requires variable "header" -->
	<%- include("../partials/header", {header: header}) %>



<!-- Partial for footer -->
	<%- include("../partials/footer") %>
</body>
</html>