<!-- views/home/home.ejs -->

<!DOCTYPE html>
<html>

<!-- Partial for head, requires variable "title" -->
	<%- include("../partials/head", {title: title}) %>

<body>
<!-- Partial for header, requires variables "header" (string) and "loggedIn" (boolean) -->
	<%- include("../partials/header", {header: header}) %>

	<% if (loggedIn) { -%>
		<br />
		<br />
		<br />
		<br />
		<br />
		<br />
		<a href="/earfull/user/<%=userId%>">Your Page</a>
	<% } -%>

<!-- Partial for footer -->
	<%- include("../partials/footer") %>
</body>
</html>