<!-- views/home/login.ejs -->

<!DOCTYPE html>
<html>

<!-- Partial for head, requires variable "title" -->
	<%- include("../partials/head", {title: title}) %>

<body>
<!-- Partial for header, requires variables "header" (string) and "loggedIn" (boolean) -->
	<%- include("../partials/header", {header: header}) %>

<form class="inputField" action="/earfull/user/auth/login" method="POST">
	Username: <input type="text" name="username"> <br />
	Password: <input type="password" name="password"> <br />
	<button>Log In</button>
</form>

<!-- Partial for footer -->
	<%- include("../partials/footer") %>
</body>
</html>