<!-- views/home/register.ejs -->

<!DOCTYPE html>
<html>

<!-- Partial for head, requires variable "title" -->
	<%- include("../partials/head", {title: title}) %>

<body>
<!-- Partial for header, requires variables "header" (string) and "loggedIn" (boolean) -->
	<%- include("../partials/header", {header: header}) %>

	<main>
		<h1>Register</h1>
		<form class="input-form" action="/earfull/user/auth/register" method="POST">
			<input class="input-box" type="text" name="username" placeholder="Username"> <!-- <br /> -->
			<input class="input-box" type="email" name="email" placeholder="Email"> <!-- <br /> -->
			<input class="input-box" type="password" name="password" placeholder="Password"> <!-- <br /> -->
			<input class="input-box" type="password" name="confirm" placeholder="Confirm Password"> <br>
			<button class="input-button">Create Account</button>
		</form>
	</main>

<!-- Partial for footer -->
	<%- include("../partials/footer") %>
</body>
</html>