<!-- New Route -- GET
earfull/playlists/:userId/new

Create Route -- POST 
earfull/playlists/:userId

Edit Route -- GET 
earfull/playlists/:userId/:playlistId/edit 

Update Route -- PUT 
earfull/playlists/:userId/:playlistId

Destroy Route -- DELETE 
earfull/playlists/:userId/:playlistId

Show Route -- GET 
earfull/playlists/:userId 

render: {
	user: foundUser,
	message: req.session.message,
	title: "Create Playlist",
	header: `Make New Playlist`,
	loggedIn: req.session.loggedIn
}

const playlistSchema = mongoose.Schema({
	name: {type: String, require: true, unique: true}
	ownerId: String,
	datePosted: {type: Date, default: Date.now()},
	lastEdited: {type: Date, default: Date.now()},
	episodes: [String] // array of strings of episode IDs!!
});
-->
<!DOCTYPE html>
<html>
<head>
<!-- Partial for head, requires variable "title" -->
	<%- include("../partials/head", {title: title}) %>
</head>
<body>
<!-- Partial for header, requires variables "header" (string) and "loggedIn" (boolean) -->
	<%- include("../partials/header", {header: header}) %>

	<h3>New Playlist:</h3>
	<form action="earfull/playlists/<%=user._id%>" method="POST">
		<input type="text" name="name""><br />
		<button>Make Playlist</button>
	</form>

<!-- Partial for footer -->
	<%- include("../partials/footer") %>
</body>
</html>