<!-- New Route -- GET
earfull/playlists/:userId/new

Create Route -- POST 
earfull/playlists/:userId

Edit Route -- GET 
earfull/playlists/:userId/:playlistId/edit 

Update Route -- PUT 
earfull/playlists/:userId/:playlistId

Destroy Route -- DELETE 
earfull/playlists/:userId/:playlistId

Show Route -- GET 
earfull/playlists/:userId 

render: {
	user: foundUser,
	header: `${foundUser.username}'s Playlists`,
	title: "EarFull Playlists",
	message: req.session.message
}
-->
<!DOCTYPE html>
<html>
<head>
<!-- Partial for head, requires variable "title" -->
	<%- include("../partials/head", {title: title}) %>
</head>
<body>
<!-- Partial for header, requires variables "header" (string) and "loggedIn" (boolean) -->
	<%- include("../partials/header", {header: header}) %>

<!-- Partial for footer -->
	<%- include("../partials/footer") %>
</body>
</html>